In [1]:
import numpy as np
import pandas as pd

## DataFrame объектісінде бағаналарды таңдау

In [2]:
df = pd.read_csv('DataSets/sp500.csv', index_col = 'Symbol', usecols=[0, 2, 3,7])

In [3]:
df.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [4]:
df['Sector']

Symbol
MMM                     Industrials
ABT                     Health Care
ABBV                    Health Care
ACN          Information Technology
ACE                      Financials
ACT                     Health Care
ADBE         Information Technology
AES                       Utilities
AET                     Health Care
AFL                      Financials
A                       Health Care
GAS                       Utilities
APD                       Materials
ARG                       Materials
AKAM         Information Technology
AA                        Materials
ALXN                    Health Care
ATI                       Materials
ALLE                    Industrials
AGN                     Health Care
ADS          Information Technology
ALL                      Financials
ALTR         Information Technology
MO                 Consumer Staples
AMZN         Consumer Discretionary
AEE                       Utilities
AEP                       Utilities
AXP                      Financials
AIG                      Financials
AMT                      Financials
                   ...
VIAB         Consumer Discretionary
V            Information Technology
VNO                      Financials
VMC                       Materials
WMT                Consumer Staples
WAG                Consumer Staples
DIS          Consumer Discretionary
WM                      Industrials
WAT                     Health Care
WLP                     Health Care
WFC                      Financials
WDC          Information Technology
WU           Information Technology
WY                       Financials
WHR          Consumer Discretionary
WFM                Consumer Staples
WIN     Telecommunications Services
WEC                       Utilities
WYN          Consumer Discretionary
WYNN         Consumer Discretionary
XEL                       Utilities
XRX          Information Technology
XLNX         Information Technology
XL                       Financials
XYL                     Industrials
YHOO         Information Technology
YUM          Consumer Discretionary
ZMH                     Health Care
ZION                     Financials
ZTS                     Health Care
Name: Sector, dtype: object

In [5]:
type(df['Sector'])

pandas.core.series.Series

In [7]:
df[['Price', 'Book Value']].head()

         Price  Book Value
Symbol
MMM     141.14      26.668
ABT      39.60      15.573
ABBV     53.95       2.954
ACN      79.79       8.326
ACE     102.91      86.897

In [8]:
type(df[['Price', 'Book Value']])

pandas.core.frame.DataFrame

In [9]:
df.Price

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
ACT     213.77
ADBE     64.30
AES      13.61
AET      76.39
AFL      61.31
A        56.18
GAS      52.98
APD     118.74
ARG     105.66
AKAM     53.65
AA       13.52
ALXN    162.30
ATI      40.99
ALLE     52.46
AGN     166.92
ADS     248.88
ALL      58.38
ALTR     33.31
MO       40.68
AMZN    312.24
AEE      38.64
AEP      51.41
AXP      88.78
AIG      53.60
AMT      88.41
         ...
VIAB     84.99
V       212.07
VNO     105.32
VMC      61.19
WMT      75.61
WAG      69.79
DIS      83.32
WM       43.37
WAT     100.54
WLP     108.82
WFC      50.16
WDC      84.83
WU       15.77
WY       30.87
WHR     147.26
WFM      37.78
WIN       9.38
WEC      45.13
WYN      72.22
WYNN    207.86
XEL      30.24
XRX      12.06
XLNX     46.03
XL       32.47
XYL      38.42
YHOO     35.02
YUM      74.77
ZMH     101.84
ZION     28.43
ZTS      30.53
Name: Price, dtype: float64

## DataFrame объектісінде жолдарды таңдау

In [10]:
df.loc['MMM']

Sector        Industrials
Price              141.14
Book Value         26.668
Name: MMM, dtype: object

In [11]:
type(df.loc['MMMT

pandas.core.series.Series

In [12]:
df.loc[['MMM', 'MSFT']]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
MSFT    Information Technology   40.12      10.584

In [14]:
type(df.loc[['MMM', 'MSFT']])

pandas.core.frame.DataFrame

In [15]:
df.loc[['MMM', 'MSF']]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
MSF             NaN     NaN         NaN

In [16]:
df.iloc[0]

Sector        Industrials
Price              141.14
Book Value         26.668
Name: MMM, dtype: object

In [17]:
df.iloc[[0,2,5]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABBV    Health Care   53.95       2.954
ACT     Health Care  213.77      55.188

In [20]:
df.index

Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ACT', 'ADBE', 'AES', 'AET', 'AFL',
       ...
       'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZMH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=500)

In [18]:
i1 = df.index.get_loc('MMM')
i2 = df.index.get_loc('A')

In [19]:
i1, i2

(0, 10)

In [22]:
df.iloc[[i1, i2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
A       Health Care   56.18      16.928

## Скалярлық мәнді таңдау

In [23]:
df.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [24]:
df.at['MMM', 'Price']

141.14

In [25]:
df.iat[0, 1]

141.14

## DataFrame объектісін қиып алу  (slicing)

In [26]:
df[0:5]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [27]:
df['ABT':'ACN']

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326

In [28]:
df.iloc[0:5]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [29]:
df.loc['ABT':'ACN']

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326

## Логикалық таңдау

In [30]:
df.Price < 100

Symbol
MMM     False
ABT      True
ABBV     True
ACN      True
ACE     False
ACT     False
ADBE     True
AES      True
AET      True
AFL      True
A        True
GAS      True
APD     False
ARG     False
AKAM     True
AA       True
ALXN    False
ATI      True
ALLE     True
AGN     False
ADS     False
ALL      True
ALTR     True
MO       True
AMZN    False
AEE      True
AEP      True
AXP      True
AIG      True
AMT      True
        ...
VIAB     True
V       False
VNO     False
VMC      True
WMT      True
WAG      True
DIS      True
WM       True
WAT     False
WLP     False
WFC      True
WDC      True
WU       True
WY       True
WHR     False
WFM      True
WIN      True
WEC      True
WYN      True
WYNN    False
XEL      True
XRX      True
XLNX     True
XL       True
XYL      True
YHOO     True
YUM      True
ZMH     False
ZION     True
ZTS      True
Name: Price, dtype: bool

In [31]:
df['Price'] < 100

Symbol
MMM     False
ABT      True
ABBV     True
ACN      True
ACE     False
ACT     False
ADBE     True
AES      True
AET      True
AFL      True
A        True
GAS      True
APD     False
ARG     False
AKAM     True
AA       True
ALXN    False
ATI      True
ALLE     True
AGN     False
ADS     False
ALL      True
ALTR     True
MO       True
AMZN    False
AEE      True
AEP      True
AXP      True
AIG      True
AMT      True
        ...
VIAB     True
V       False
VNO     False
VMC      True
WMT      True
WAG      True
DIS      True
WM       True
WAT     False
WLP     False
WFC      True
WDC      True
WU       True
WY       True
WHR     False
WFM      True
WIN      True
WEC      True
WYN      True
WYNN    False
XEL      True
XRX      True
XLNX     True
XL       True
XYL      True
YHOO     True
YUM      True
ZMH     False
ZION     True
ZTS      True
Name: Price, dtype: bool

In [33]:
df[df.Price < 50]

                             Sector  Price  Book Value
Symbol
ABT                     Health Care  39.60      15.573
AES                       Utilities  13.61       5.781
AA                        Materials  13.52       9.670
ATI                       Materials  40.99      26.401
ALTR         Information Technology  33.31      11.026
MO                 Consumer Staples  40.68       2.072
AEE                       Utilities  38.64      26.847
AIV                      Financials  31.24       6.331
AMAT         Information Technology  20.04       6.147
ADM                Consumer Staples  43.56      30.569
T       Telecommunications Services  35.32      17.500
AVY                     Industrials  48.20      15.616
AVP                Consumer Staples  14.14       2.108
BAC                      Financials  14.72      20.754
BBT                      Financials  37.73      29.031
BEAM         Consumer Discretionary   0.00         NaN
BMS                       Materials  40.69      16.620
BBY          Consumer Discretionary  27.01      12.735
HRB          Consumer Discretionary  29.38       2.504
BSX                     Health Care  12.83       4.941
BMY                     Health Care  48.79       9.337
BRCM         Information Technology  30.64      14.716
CA           Information Technology  29.19      12.695
CVC          Consumer Discretionary  17.45     -19.304
COG                          Energy  35.77       5.437
CPB                Consumer Staples  44.06       5.067
CFN                     Health Care  42.25      26.016
KMX          Consumer Discretionary  44.70      14.963
CCL          Consumer Discretionary  40.02      31.493
CBG                      Financials  29.15       6.028
...                             ...    ...         ...
TXN          Information Technology  46.25       9.839
TXT                     Industrials  38.78      15.644
ADT                     Industrials  32.89      17.627
BK                       Financials  34.59      31.940
WMB                          Energy  46.87       6.739
TSS          Information Technology  30.73       8.512
RIG                          Energy  42.55      47.436
FOXA         Consumer Discretionary  34.95       7.807
TYC                     Industrials  43.29      10.913
TSN                Consumer Staples  39.72      18.472
X                         Materials  24.08      23.844
UNM                      Financials  33.46      34.771
URBN         Consumer Discretionary  32.54      10.072
USB                      Financials  41.45      20.482
VRSN         Information Technology  49.92      -3.467
VZ      Telecommunications Services  49.74       3.069
WM                      Industrials  43.37      12.330
WU           Information Technology  15.77       1.981
WY                       Financials  30.87      11.690
WFM                Consumer Staples  37.78      10.867
WIN     Telecommunications Services   9.38       1.199
WEC                       Utilities  45.13      19.165
XEL                       Utilities  30.24      19.450
XRX          Information Technology  12.06      10.471
XLNX         Information Technology  46.03      10.247
XL                       Financials  32.47      37.451
XYL                     Industrials  38.42      12.127
YHOO         Information Technology  35.02      12.768
ZION                     Financials  28.43      30.191
ZTS                     Health Care  30.53       2.150

[196 rows x 3 columns]

In [34]:
df[(df.Price < 10) & (df.Price > 6)]

                             Sector  Price  Book Value
Symbol
HCBK                     Financials   9.80       9.596
HBAN                     Financials   9.10       6.995
SLM                      Financials   8.82      11.895
WIN     Telecommunications Services   9.38       1.199

In [35]:
df[(df.Price < 10) & (df.Price > 6)]['Price']

Symbol
HCBK    9.80
HBAN    9.10
SLM     8.82
WIN     9.38
Name: Price, dtype: float64

In [36]:
df[(df.Sector == "Health Care") & (df.Price > 100)][['Price', 'Sector']]

         Price       Sector
Symbol
ACT     213.77  Health Care
ALXN    162.30  Health Care
AGN     166.92  Health Care
AMGN    114.33  Health Care
BCR     146.62  Health Care
BDX     115.70  Health Care
BIIB    299.71  Health Care
CELG    150.13  Health Care
HUM     124.49  Health Care
ISRG    363.86  Health Care
JNJ     100.98  Health Care
LH      100.75  Health Care
MCK     183.75  Health Care
PRGO    138.63  Health Care
REGN    297.77  Health Care
TMO     115.74  Health Care
WAT     100.54  Health Care
WLP     108.82  Health Care
ZMH     101.84  Health Care

## Жолдар мен бағандарды бірге таңдау

In [37]:
df.loc[['ABT', 'ZTS']][['Sector', 'Price']]

             Sector  Price
Symbol
ABT     Health Care  39.60
ZTS     Health Care  30.53