In [1]:
import pandas as pd

## Series sort_values() method

In [2]:
pokemon = pd.read_csv('datasets/pokemon.csv', usecols = ['Pokemon'], squeeze = True)
google = pd.read_csv('datasets/google_stock_price.csv', squeeze = True)

In [3]:
pokemon.sort_values()

459     Abomasnow
62           Abra
358         Absol
616      Accelgor
680     Aegislash
141    Aerodactyl
305        Aggron
189         Aipom
64       Alakazam
593     Alomomola
333       Altaria
697        Amaura
423       Ambipom
590     Amoonguss
180      Ampharos
346       Anorith
23          Arbok
58       Arcanine
492        Arceus
565        Archen
566      Archeops
167       Ariados
347       Armaldo
682    Aromatisse
303          Aron
143      Articuno
530        Audino
698       Aurorus
712       Avalugg
609          Axew
          ...
69     Weepinbell
109       Weezing
546    Whimsicott
543    Whirlipede
339      Whiscash
292       Whismur
39     Wigglytuff
277       Wingull
201     Wobbuffet
526        Woobat
193        Wooper
412      Wormadam
264       Wurmple
359        Wynaut
177          Xatu
715       Xerneas
561        Yamask
192         Yanma
468       Yanmega
716       Yveltal
334      Zangoose
144        Zapdos
522     Zebstrika
643        Zekrom
262     Zigzagoon
570       Zoroark
569         Zorua
40          Zubat
633      Zweilous
717       Zygarde
Name: Pokemon, dtype: object

In [4]:
pokemon.sort_values(ascending = False)

717       Zygarde
633      Zweilous
40          Zubat
569         Zorua
570       Zoroark
262     Zigzagoon
643        Zekrom
522     Zebstrika
144        Zapdos
334      Zangoose
716       Yveltal
468       Yanmega
192         Yanma
561        Yamask
715       Xerneas
177          Xatu
359        Wynaut
264       Wurmple
412      Wormadam
193        Wooper
526        Woobat
201     Wobbuffet
277       Wingull
39     Wigglytuff
292       Whismur
339      Whiscash
543    Whirlipede
546    Whimsicott
109       Weezing
69     Weepinbell
          ...
609          Axew
712       Avalugg
698       Aurorus
530        Audino
143      Articuno
303          Aron
682    Aromatisse
347       Armaldo
167       Ariados
566      Archeops
565        Archen
492        Arceus
58       Arcanine
23          Arbok
346       Anorith
180      Ampharos
590     Amoonguss
423       Ambipom
697        Amaura
333       Altaria
593     Alomomola
64       Alakazam
189         Aipom
305        Aggron
141    Aerodactyl
680     Aegislash
616      Accelgor
358         Absol
62           Abra
459     Abomasnow
Name: Pokemon, dtype: object

## Inplace Parameter

In [6]:
google.head(3)

0    50.12
1    54.10
2    54.65
Name: Stock Price, dtype: float64

In [8]:
google.sort_values().head(3)

11    49.95
9     50.07
0     50.12
Name: Stock Price, dtype: float64

In [9]:
google.sort_values(ascending=False, inplace=True)

In [10]:
google.head()

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: Stock Price, dtype: float64